.search {
   background-color: #fff;
   border-radius: 10rem;
   display: flex;
   align-items: center;
   padding-left: 3rem;

   &__field {
      border: none;
      background: none;
      font-family: inherit;
      color: inherit;
      font-size: 1.7rem;
      width: 30rem;

      &:focus {
         outline: none;
      }

      &:placeholder {
         color: #dad0cc;
      }
   }
}